# Multiple Linear Regression with Dummies - Exercise

You are given a real estate dataset. 

Real estate is one of those examples that every regression course goes through as it is extremely easy to understand and there is a (almost always) certain causal relationship to be found.

The data is located in the file: 'real_estate_price_size_year_view.csv'. 

You are expected to create a multiple linear regression (similar to the one in the lecture), using the new data. 

In this exercise, the dependent variable is 'price', while the independent variables are 'size', 'year', and 'view'.

#### Regarding the 'view' variable:
There are two options: 'Sea view' and 'No sea view'. You are expected to create a dummy variable for view and include it in the regression

Good luck!

## Import the relevant libraries

In [5]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

## Load the data

In [7]:
raw_data = pd.read_csv('real_estate_price_size_year_view.csv')

In [9]:
raw_data

         price     size  year         view
0   234314.144   643.09  2015  No sea view
1   228581.528   656.22  2009  No sea view
2   281626.336   487.29  2018     Sea view
3   401255.608  1504.75  2015  No sea view
4   458674.256  1275.46  2009     Sea view
..         ...      ...   ...          ...
95  252460.400   549.80  2009     Sea view
96  310522.592  1037.44  2009  No sea view
97  383635.568  1504.75  2006  No sea view
98  225145.248   648.29  2015  No sea view
99  274922.856   705.29  2006     Sea view

[100 rows x 4 columns]

In [11]:
data = raw_data.copy()

## Create a dummy variable for 'view'

In [28]:
data['view'] = data['view'].map({'No sea view':0,'Sea view':1})

In [33]:
data.head()

        price     size  year  view
0  234314.144   643.09  2015   NaN
1  228581.528   656.22  2009   NaN
2  281626.336   487.29  2018   NaN
3  401255.608  1504.75  2015   NaN
4  458674.256  1275.46  2009   NaN

## Create the regression

### Declare the dependent and the independent variables

In [30]:
data.describe()

               price         size         year  view
count     100.000000   100.000000   100.000000   0.0
mean   292289.470160   853.024200  2012.600000   NaN
std     77051.727525   297.941951     4.729021   NaN
min    154282.128000   479.750000  2006.000000   NaN
25%    234280.148000   643.330000  2009.000000   NaN
50%    280590.716000   696.405000  2015.000000   NaN
75%    335723.696000  1029.322500  2018.000000   NaN
max    500681.128000  1842.510000  2018.000000   NaN

### Regression

In [31]:
y = data['price']
x1 = data[['size','year','view']]

In [34]:
x = sm.add_constant(x1)
results = sm.OLS(y,x).fit()
results.summary()

MissingDataError: exog contains inf or nans

In [ ]:
plt.scatter(data['size'],y)
yhat_noseaview =